.header {
  padding-top: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Roboto";
  font-size: larger;
  font-weight: 700;

  .date {
    margin-right: 2vw;
  }

  .time {
    margin-left: 2vw;
    margin-right: 2vw;
  }

  .schedule-type {
    margin-left: 2vw;
  }
}

.alert-toggle-btn {
  display: flex;
  align-items: center;
  svg {
    margin-left: 6px;
    width: 24px;
    height: 24px;
  }
}
