<div class="header">
  <span class="date">{{ timeService.currentDateDisplay$ | async }}</span>
  <span class="time">{{ timeService.currentTimeDisplay$ | async }}</span>
  <span class="schedule-type"
    >Today's Schedule:
    {{ scheduleService.todaysSchedule$()?.scheduleDescription }}</span
  >
  <button
    *ngIf="localStorageService.isDevModeEnabled"
    id="play-audio-btn"
    class="button"
    (click)="playAudio()">
    play audio
  </button>
  <button
    *ngIf="!localStorageService.isAudioEnabled"
    id="enable-alerts-btn"
    class="button alert-toggle-btn"
    (click)="localStorageService.setAudioEnabledState(true)">
    Audio Alerts Disabled
    <fa-icon
      [icon]="['far', 'bell-slash']"
      [fixedWidth]="true"
      size="lg"></fa-icon>
  </button>
  <button
    *ngIf="localStorageService.isAudioEnabled"
    id="disable-alerts-btn"
    class="button alert-toggle-btn"
    (click)="localStorageService.setAudioEnabledState(false)">
    Audio Alerts Enabled
    <fa-icon [icon]="['far', 'bell']" [fixedWidth]="true" size="lg"></fa-icon>
  </button>
</div>
