<div class="flex-container">
  <div class="header">
    <span class="date">{{ svc.currentDateDisplay$ | async }}</span>
    <span class="time">{{ svc.currentTimeDisplay$ | async }}</span>
    <span class="schedule-type">Standard</span>
  </div>
  <div class="track">
    <div class="activity">
      <span class="activity-name">A Lunch</span>
      <span class="activity-duration">(25:00)</span>
    </div>
    <div class="activity">Fourth Hour (A Lunch)</div>
  </div>
  <div class="track">
    <div class="activity">Fourth Hour (B Lunch)</div>
    <div class="activity">B Lunch</div>
  </div>
</div>
