.activity-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-around;

  &:before {
    content: "";
    position: absolute;
    left: 10px;
    border: 5px solid transparent;
    border-radius: 10px;
    width: var(--before-width, 1px);
    max-width: calc(100vw - 35px);
    height: 25vh;
    background-color: rgb(255, 165, 0, 0.4);
    transition: linear 1s width;
  }

  .activity {
    display: flex;
    height: 25vh;
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: 5px solid var(--HPS_Gold);
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 10vh;
  }
}

.falling {
  animation: fallAway forwards 1s ease-out 1;
}

@keyframes fallAway {
  0% {
    transform: rotateZ(0deg);
    top: 0;
    opacity: 1;
  }
  25% {
    transform: rotateZ(-15deg);
  }
  100% {
    top: 300px;
    transform: rotateZ(-5deg);
    opacity: 0;
  }
}
