<div class="activity-container" [id]="htmlId">
  <div class="activity">
    <span class="activity-name"
      ><span>{{ activity?.typeDescription }} </span>
      <span *ngIf="activity?.willStudentsBeAbleToLeave === true">
        <span
          class="circle"
          [ngClass]="canLeaveClass$() ? 'green' : 'red'"></span>
      </span>
    </span>
    <span *ngIf="isAnnouncementRequired$()">
      <fa-icon
        [icon]="['fas', 'bullhorn']"
        [animation]="shouldAnimateBullhorn$() ? 'beat-fade' : undefined"
        size="xs"></fa-icon>
    </span>
    <span class="activity-duration"
      ><span
        *ngIf="
          !!activity?.warnWhenMinutesRemain &&
          activity?.warnWhenMinutesRemain! > 0
        ">
        <fa-icon
          [animation]="playedWarningChime === true ? 'shake' : undefined"
          [icon]="['far', 'bell']"
          size="xs"></fa-icon>
      </span>
      {{ countdownDisplay$ | async }}</span
    >
  </div>
</div>
