:root {
  --HPS_Brown: #593803;
  --HPS_Gold: #d79423;
}
html {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
}

.button {
  background-color: var(--HPS_Brown);
  border: 1px solid var(--HPS_Gold);
  border-radius: 10px;
  color: var(--HPS_Gold);
  padding: 10px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: 700;

  &:hover {
    background-color: var(--HPS_Gold);
    color: var(--HPS_Brown);
    border: 1px solid var(--HPS_Brown);
  }
}
